---
import PrincipleCard from "../content/PrincipleCard.astro";
import Grid from "../../primitives/Grid.astro";

interface Props {
  items: { statement: string; elaboration?: string }[];
}

const { items } = Astro.props;
---

<Grid as="ul" columns={2} gap="8">
  {
    items.map((item) => (
      <li>
        <PrincipleCard {...item} />
      </li>
    ))
  }
</Grid>
