---
import ServiceCard from "../content/ServiceCard.astro";
import Grid from "../../primitives/Grid.astro";

interface Props {
  items: {
    title: string;
    description: string;
    cta?: { label: string; href: string };
  }[];
}

const { items } = Astro.props;
---

<Grid as="ul" columns={2} gap="8">
  {
    items.map((item) => (
      <li>
        <ServiceCard {...item} />
      </li>
    ))
  }
</Grid>
