---
import Body from "../../typography/Body.astro";
import Heading from "../../typography/Heading.astro";
import Stack from "../../primitives/Stack.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<article>
  <Stack gap="3">
    <Heading level={3}>{title}</Heading>
    <Body>{description}</Body>
  </Stack>
</article>
